@model IEnumerable<SearchSystems.Models.FixedDeposit>

@{
    ViewBag.Title = "Closed FD";
}

<h2>Closed FD List</h2>
<p>Following is list of all FD's which are not active</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Sr No.")
        </th>
        <th>
            @Html.DisplayName("Account Name")
        </th>
        <th>
            @Html.DisplayName("Bank Name")
        </th>
        <th>
            @Html.DisplayName("FD Number")
        </th>
        <th>
            @Html.DisplayName("Date of Purchase")
        </th>
        <th>
            @Html.DisplayName("Amount")
        </th>
        <th>
            @Html.DisplayName("Interest Rate")
        </th>
        <th>
            @Html.DisplayName("Maturity Date")
        </th>
        <th>
            @Html.DisplayName("Maturity Amount")
        </th>
        <th>
            @Html.DisplayName("Current Status")
        </th>
        <th>
            @Html.DisplayName("Remarks")
        </th>
    </tr>

    @{ 
        var counter = 0;
    }
    @foreach (var item in Model)
    {

        counter++;
        <tr>
            <td>
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfPurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateOfInterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaturityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaturityAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
        </tr>
    }

</table>
