@model IEnumerable<SearchSystems.Models.FixedDeposit>

@{
    ViewBag.Title = "ClosedFDView";
}

<h2>ClosedFDView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FDNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPurchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateOfInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaturityDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaturityAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FDNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfPurchase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateOfInterest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaturityDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaturityAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
