@model SearchSystems.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Employee ID")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayName("First Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Last Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Gender")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayName("Date Of Birth")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayName("Blood Group")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayName("Mobile Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayName("WhatsApp Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhatsAppNumber)
        </dd>

        <dt>
            @Html.DisplayName("Email ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayName("Office Mail ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeEmailAddress)
        </dd>

        <dt>
            @Html.DisplayName("Current Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayName("City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayName("District")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayName("State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayName("Country")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayName("Pin Code")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinCode)
        </dd>

        <dt>
            @Html.DisplayName("Department Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            @Html.DisplayName("Designation")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayName("Current Salary")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayName("Date of Joining")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfJoining)
        </dd>

        <dt>
            @Html.DisplayName("Probation Period")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProbationPeriod)
        </dd>

        <dt>
            @Html.DisplayName("PF Start Date")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PFStartDate)
        </dd>

        <dt>
            @Html.DisplayName("PF Account Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFAccountNumber)
        </dd>

        <dt>
            @Html.DisplayName("PF UAN Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFUANNumber)
        </dd>

        <dt>
            @Html.DisplayName("Gratuity Number")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GratuityNumber)
        </dd>

        <dt>
            @Html.DisplayName("Gratuity Start Date")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GratuityStartDate)
        </dd>

        <dt>
            @Html.DisplayName("Medical Insurance Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalInsuranceNumber)
        </dd>

        <dt>
            @Html.DisplayName("Medical Insurance Renewal Date")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsuranceRenewalDate)
        </dd>

        <dt>
            @Html.DisplayName("Insurance Expiry Date")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsuranceExpiryDate)
        </dd>

        <dt>
            @Html.DisplayName("Bank Account Number")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>

        <dt>
            @Html.DisplayName("Bank Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayName("Branch Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankBranchName)
        </dd>

        <dt>
            @Html.DisplayName("Bank IFSC Code")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankIFSCCode)
        </dd>

        <dt>
            @Html.DisplayName("PAN Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PANNumber)
        </dd>

        <dt>
            @Html.DisplayName("AADHAR Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AadharNumber)
        </dd>


        <dt>
            @Html.DisplayName("Driving Licence Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrivingLicenseNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
