@model IList<SearchSystems.Models.Employee>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Employee List";
    string currentSearch = ViewBag.Search;
    string currentSortTerm = ViewBag.PreviousSortTerm;

}

<h2>Salary Details</h2>

@using (Html.BeginForm("SaveSalary", "Home", FormMethod.Post))
{
    @Html.TextBox("Search")

    <input type="submit" name="submit" value="Search" formaction="Index" />

    <input type="hidden" name="salaryView" value="true" />

    <p></p>

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Employee Id", "Index",
                          new { CurrentSortTerm = "Id", previousSortOrder = ViewBag.PreviousSortOrder, previousSortTerm = ViewBag.PreviousSortTerm, ViewBag.Page, search = currentSearch, salaryView = true })
            </th>
            <th>
                @Html.ActionLink("First Name", "Index",
                          new { CurrentSortTerm = "FirstName", previousSortOrder = ViewBag.PreviousSortOrder, previousSortTerm = ViewBag.PreviousSortTerm, ViewBag.Page, search = currentSearch, salaryView = true })
            </th>
            <th>
                @Html.ActionLink("Last Name", "Index",
                                     new { CurrentSortTerm = "LastName", previousSortOrder = ViewBag.PreviousSortOrder, previousSortTerm = ViewBag.PreviousSortTerm, ViewBag.Page, search = currentSearch, salaryView = true })
            </th>
            <th>
                Total Salary
            </th>
            <th>
                Employer PF Amount
            </th>
            <th>
                Employee PF Amount
            </th>
            <th>
                Monthly Gratuity Amount
            </th>
            <th>
                Monthly Insurance Amount
            </th>
            <th>
                Accomodation Charges
            </th>
            <th></th>
        </tr>

        @for (var i = 0; i < Model.Count; i++)
        {
        <tr>
            <td>
                @Html.TextBoxFor(modelItem => Model[i].Id, new { @style = "border: 0px" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].TotalSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].EmployerPFAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].EmpolyeePFAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].MonthlyGratuityAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].MonthlyInsuranceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].MonthlyHousingAllowance)
            </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>*@
        </tr>
        }
    </table>
}
